.header-top {
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-contact {
    font-weight: 500;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 0.5rem 1rem;
}

.logo-img {
    max-height: 70px;
}

.phone-contact {
    color: #1c1c1c;
    font-weight: 700;
}

.header-left {
    display:flex;
    align-items: center;
}

.logo-header {
    display:flex;
    justify-content: center;
}

.header-right {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.account-text, .account-card, .account-find, .notification{
    font-weight: 500;
    color: #1c1c1c!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    padding: 0 15px;
    white-space: nowrap;
}

.header-bottom .nav-item>a {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    display: block;
    padding: 10px 10px;
}

.nav-bottom {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-link {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #ededed;
}

.dropdown:hover .dropdown-content {
    animation: move-up 0.3s linear;
    display: block;
}

.dropdown-item:hover .dropdown-link{
    color: #916841;
}

.nav-item:hover .nav-link{
    color: #916841;
    animation: pop 0.3s linear;
}

.notification-content {
    display: none;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10%;
}

.notification-item {
    padding: 5px 0;
}

.notification-item a {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    display: block;
    padding: 5px 5px;
}
.notification-item>a:hover{
    color: #916841;
}

.nav-item:hover .notification-content{
    display:block;
}




.title-blog:hover,
.breadcrumb-item:hover a{
    color: #916841;
}

@keyframes move-up {
    0% {
		transform: translateY(6px);
		opacity: .5;
	}
}
@keyframes pop {
    50% {
		transform: scale(1.2);
	}
}

.img-slider {
    max-width: 100%;
}

.section1 {
    margin: 0;
}

.cart-quantity {
    position: absolute;
    top: 0;
}